body {
    background-color: rgb(55, 163, 41);
}

p{
    color: gold;
    text-align: center.;
}
.neymaru {
    font-style: oblique;
color: firebrick;
}
.RATON {
    width: 30%;
}
header {
    border-bottom: solid 2px , rgb(228, 0, 0), rgb(37, 182, 49));}
{padding: 30px
}
font-size 30px
