body {
    background-color: rgb(55, 163, 41);
}

p{
    color: gold;
    text-align: center.;
}
.neymaru {
    font-style: oblique;
color: firebrick;
}
.RATON {
    width: 30%;
}
header {
    border-bottom: solid 2px rgb(92, 170, 196);
    padding: 20px;
    font-size: 32px;
    color: rgb(67, 155, 108);
}

section {
    background: rgb(195, 29, 29);
    padding-bottom: 40px;
    padding-top: 50px;
    display: flex;
}
